---
import Carousel from "./Carousel.astro";
const { project } = Astro.props;
---

<article class="max-w-lg mx-auto mb-8">
  <h2 class="text-2xl font-bold mb-2">{project.name}</h2>
  <p class="text-gray-600 mb-4">{project.description}</p>
  <Carousel images={project.img} />
  <ul class="mt-4">
    {
      project.skills.map((skill: string, index: number) => (
        <li class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          {skill}
        </li>
      ))
    }
  </ul>
  <p class="text-gray-500 text-sm mt-4">
    Inicio: {project.init} - Fin: {project.end}
  </p>
</article>
